* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

body {
    display: flex;
    background: #f5f7fb;
}

.sidebar {
    width: 240px;
    background: #0d6efd;
    color: white;
    height: 100vh;
    padding: 20px;
    flex-shrink: 0;
    position: fixed;
}

.logo {
    text-align: center;
    margin-bottom: 30px;
}

.sidebar ul {
    list-style: none;
}

.sidebar ul li {
    padding: 12px;
    margin-bottom: 8px;
    cursor: pointer;
    border-radius: 6px;
    transition: 0.3s;
}

.sidebar ul li:hover,
.sidebar ul li.active {
    background: #084298;
}

.logout {
    background: #dc3545;
    margin-top: 20px;
}

/* Main Content Area */
.main {
    flex: 1;
    margin-left: 240px;
    padding: 25px;
}

.content-section {
    width: 100%;
}

h1 {
    margin-bottom: 15px;
    color: #1f2937;
}

.cards {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
}

.card {
    background: white;
    padding: 20px;
    width: 200px;
    border-radius: 8px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
}

.card span {
    font-size: 22px;
    font-weight: bold;
    color: #0d6efd;
}

/* Tables */
table {
    width: 100%;
    background: white;
    border-collapse: collapse;
    border-radius: 8px;
    overflow: hidden;
    margin-top: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.02);
}

table th {
    background: #0d6efd;
    color: white;
    text-align: left;
    padding: 12px;
}

table td {
    padding: 12px;
    border-bottom: 1px solid #eee;
}

/* Buttons */
button {
    border: none;
    padding: 8px 14px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 500;
}

.btn-primary {
    background: #0d6efd;
    color: white;
}

.btn-edit {
    background: #198754;
    color: white;
}

.btn-delete {
    background: #dc3545;
    color: white;
}

.hidden {
    display: none;
}

#searchInput,
#searchOrders {
    margin: 15px 0;
    padding: 10px;
    width: 300px;
    border-radius: 6px;
    border: 1px solid #ddd;
}

/* Modal */
.modal {
    display: none;
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.5);
    justify-content: center;
    align-items: center;
}


.modal-content {
    background: white;
    padding: 25px;
    width: 350px;
    border-radius: 8px;
}

.modal-content input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
}

.modal-actions {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}
