* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

body {
    display: flex;
    background: #f5f7fb;
}

#dashboardFilter {
    padding: 8px 12px;
    border-radius: 6px;
    border: 1px solid #ccc;
}

/* Sidebar */
.sidebar {
    width: 240px;
    background: #0d6efd;
    color: white;
    height: 100vh;
    padding: 20px;
    flex-shrink: 0;
}

.logo {
    text-align: center;
    margin-bottom: 30px;
}

.sidebar ul {
    list-style: none;
}

.sidebar ul li {
    padding: 12px;
    margin-bottom: 8px;
    cursor: pointer;
    border-radius: 6px;
}

.sidebar ul li:hover,
.sidebar ul li.active {
    background: #084298;
}

.logout {
    background: #dc3545;
}

/* Main */
.main {
    flex: 1;
    padding: 25px;
    background: #f5f7fb;
}


.content-section {
    width: 100%;
    max-width: 100%;
    padding: 20px;
}

h1 {
    margin-bottom: 15px;
    color: #1f2937;
}

.cards {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
}

.card {
    background: white;
    padding: 20px;
    width: 180px;
    border-radius: 8px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.08);
}

.card span {
    font-size: 22px;
    font-weight: bold;
    color: #0d6efd;
}

/* Section Header */
.section-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

/* Search */
#searchInput {
    margin: 15px 0;
    padding: 10px;
    width: 250px;
    border-radius: 6px;
    border: 1px solid #ccc;
}


table {
    width: 100%;
    background: white;
    border-collapse: collapse;
    border-radius: 8px;
    overflow: hidden;
    margin-top: 10px;
}

table th {
    background: #0d6efd;
    color: white;
    text-align: left;
    padding: 12px;
}

table td {
    padding: 10px;
    border-bottom: 1px solid #eee;
}

/* Buttons */
button {
    border: none;
    padding: 7px 12px;
    border-radius: 5px;
    cursor: pointer;
}

.btn-primary {
    background: #0d6efd;
    color: white;
}

.btn-edit {
    background: #198754;
    color: white;
}

.btn-delete {
    background: #dc3545;
    color: white;
}
.btn-remove {
    background: #6c757d;
    color: white;
}

/* Modal */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.modal-content {
    background: white;
    padding: 25px;
    width: 400px;
    border-radius: 8px;
}

.modal-content input,
.modal-content textarea {
    width: 100%;
    margin: 10px 0;
    padding: 10px;
}

#searchOrders,
#searchUsers {
    margin: 15px 0;
    padding: 10px;
    width: 250px;
    border-radius: 6px;
    border: 1px solid #ccc;
}


/* Modal buttons */
.modal-actions {
    display: flex;
    justify-content: space-between;
}

/* Hidden */
.hidden {
    display: none;
}

#staffRole {
    margin-bottom: 5px;
}